<div class="animated-headline-container">
  <h4 class="animated-headline">
    <span class="plain-text">THE</span>
    <span class="dynamic-text">COMPANY</span>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M7.7,145.6C109,125,299.9,116.2,401,121.3c42.1,2.2,87.6,11.8,87.3,25.7"></path>
    </svg>
  </h4>
</div>

<div class="info-boxes">
  <div class="info-box">
    <h2>+20</h2>
    <p><b>YEARS |</b> Providing support and Maintenance for Automated Test Systems</p>
  </div>
  <div class="info-box">
    <h2>4M USD</h2>
    <p><b>Annual Sales</b></p>
  </div>
  <div class="info-box">
    <h2>+20</h2>
    <p><b>CUSTOMERS |</b> We are Business Partner Company for Global Learning Companies in México.</p>
  </div>
  <div class="info-box">
    <h2>+6</h2>
    <p><b>INDUSTRIES |</b> We work for more than 6 sectors of industries</p>
  </div>
  <div class="info-box">
    <h2>25</h2>
    <p><b>Base Employees</b></p>
  </div>
  <div class="info-box">
    <h2>+650</h2>
    <p><b>SOLUTIONS & SERVICES |</b> Successful projects at our customers facilities</p>
  </div>
  </div>
 


